<div class="jumbotron">

  <h3>Add a Review</h3>
</div>
<%= render "layouts/review_form" %>
<%= render "layouts/errors", :object => @review %>
<%= form_for @review, :url => product_path do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :content_body %>
  <%= f.text_field :content_body %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit %>
<% end %>
<%= link_to "Go Back", product_path(@product) %>
